{template 'header','mobile'}
{template 'header1','mobile'}
<section id="index">
    <article class="module">
        <ul class="clear">
            <li>
                <a href="/mobile/food/index.php">
                    <p><img src="{DT_SKIN}image/mobile/module-1.png"  /></p>
                    <span>餐饮供应</span>
                </a>
            </li>
            <li>
                <a href="/mobile/discount/index.php">
                    <p><img src="{DT_SKIN}image/mobile/module-2.png"  /></p>
                    <span>商家优惠</span>
                </a>
            </li>
            <li>
                <a href="/mobile/job/index.php">
                    <p><img src="{DT_SKIN}image/mobile/module-3.png"  /></p>
                    <span>招聘信息</span>
                </a>
            </li>
            <li>
                <a href="/mobile/cession/index.php">
                    <p><img src="{DT_SKIN}image/mobile/module-4.png"  /></p>
                    <span>店铺转让</span>
                </a>
            </li>
            <li>
                <a href="/mobile/school/index.php">
                    <p><img src="{DT_SKIN}image/mobile/module-5.png"  /></p>
                    <span>名厨学堂</span>
                </a>
            </li>
            <li>
                <a href="/mobile/horn/index.php">
                    <p><img src="{DT_SKIN}image/mobile/module-6.png"  /></p>
                    <span>羊角会</span>
                </a>
            </li>
            <li>
                <a href="/mobile/share/index.php">
                    <p><img src="{DT_SKIN}image/mobile/module-7.png"  /></p>
                    <span>分享</span>
                </a>
            </li>
            <li>
                <a href="/mobile/cat.php">
                    <p><img src="{DT_SKIN}image/mobile/module-8.png"  /></p>
                    <span>总分类</span>
                </a>
            </li>
        </ul>
    </article>
    <article class="article">
        <div class="clear">
            <span class="fl articleimgleft">{ad(86)}</span>
            <span class="fl articleimgright">{ad(87)}</span>
        </div>
        <div class="articlelist">
            <ul>
                {if $aNewsNew}
                {loop $aNewsNew $k $v}
                <li class="clear">
                    <span class="fr">{date('m-d',$v['addtime'])}</span>
                    <article><a href="/mobile/article/show.php?id={$v['itemid']}" >·{$v['title']}</a></article>
                </li>
                {/loop}
                {/if}
                <li class="more">
                    <label onclick="location.href='/mobile/article/index.php'">更多&nbsp;<i class="fa fa-angle-right"></i></label>
                </li>
            </ul>
        </div>
    </article>
    <article class="hotchannel">
        <header class="channelheader clear">
            <div class="fl"><img src="{DT_SKIN}image/mobile/hot.png" /><span>热门频道</span></div>
        </header>
        <ul class="channelul clear">
            <li>{ad(88)}</li>
            <li>{ad(89)}</li>
            <li>{ad(90)}</li>
            <li>{ad(91)}</li>
            <li>{ad(92)}</li>
            <li>{ad(93)}</li>
            <li>{ad(94)}</li>
            <li>{ad(95)}</li>
        </ul>
    </article>
    <article class="foodpromote">
        <header class="channelheader clear">
            <div class="fl"><img src="{DT_SKIN}image/mobile/foodpromote.png"  /><span>美食推荐</span></div>
            <a class="fr" href="/mobile/food/indes.php">查看全部&nbsp;&gt;</a>
        </header>
        <div class="foodpromoteul clear">
            <div class="fl foodleft">
                {ad(96)}
            </div>
            <div class="fr foodright">
                {ad(97)}
                {ad(98)}
            </div>
        </div>
    </article>
    <article class="schoolchannel">
        <header class="channelheader clear">
            <div class="fl"><img src="{DT_SKIN}image/mobile/school.png" /><span>名厨名菜</span></div>
            <a class="fr" href="/mobile/school/food.php">查看全部&nbsp;&gt;</a>
        </header>
        <ul class="comul clear">

            {if $aCai}
            {loop $aCai $k $v}
            <li class="clear">
                <div class="lidiv">
                    <a class="schoola" href="/mobile/school/foodshow.php?id={$v['itemid']}">
                        <img src="{$v['thumb']}" />
                        <span>名厨：{$aSchool[$v['userid']]['truename']}</span>
                        <span class="hiddensl">名厨：{$aSchool[$v['userid']]['truename']}</span>
                    </a>
                    <a class="title" href="/mobile/school/foodshow.php?id={$v['itemid']}">{$v['title']}</a>
                    <p class="handle clear">
                        <img onclick="vote({$v['itemid']},2,this)" class="votes" src="{DT_SKIN}image/mobile/vote.png" />
                        <i class="num">票数：<i>{$v['votes']}</i></i>
                    </p>
                </div>
            </li>
            {/loop}
            {/if}
        </ul>
    </article>
    <span class="ids">{ad(99)}</span>
    <article class="foodchannel">
        <header class="channelheader clear">
            <div class="fl"><img src="{DT_SKIN}image/mobile/foodchannel.png" /><span>餐饮供应</span></div>
            <a class="fr" href="/mobile/food/index.php">查看全部&nbsp;&gt;</a>
        </header>
        <ul class="schoolchannelul clear">
            {if $aHotFood}
            {loop $aHotFood $k $v}
            <li class="clear">
                <a class="schoola" href="/mobile/food/show.php?id={$v['itemid']}"><img src="{$v['thumb']}" class="fl schoolthumb" /></a>
                <div class="schoolcontent">
                    <a class="title" href="/mobile/food/show.php?id={$v['itemid']}">{$v['title']}</a>
                    <p class="introduce">{$v['introduce']}</p>
                    <p class="foodhandle">
                        <i>&nbsp;&nbsp;&nbsp;{$v['hits']}人阅读</i>
                    </p>
                </div>
            </li>
            {/loop}
            {/if}
        </ul>
    </article>
</section>
<footer id="footer">
    <article class="footerbutton clear">
        <span class="fl"><img src="{DT_SKIN}image/mobile/top.png" onclick="goTop();" /></span>
        <span class="fr"><img src="{DT_SKIN}image/mobile/share.png" onclick="goShare()" /></span>
    </article>
    <article class="footerinfo">
        <p>{$DT['sitename']}&nbsp;&nbsp;&nbsp;{$CFG['url']}</p>
        <p><a href="/about/mindex.html">关于我们</a><i>|</i><a href="/about/mcontact.html">联系我们</a><i>|</i><a href="/about/magreement.html">商务合作</a><i>|</i><a href="/mobile/share/publish.php">发布信息</a></p>
    </article>
    <article class="footer clear">
        <a href="/mobile/index.php"><img class="footer1" src="{DT_SKIN}image/mobile/index.png" /></a>
        <a href="/mobile/cat.php"><img class="footer2" src="{DT_SKIN}image/mobile/cat.png" /></a>
        <a href="/mobile/share/publish.php"><img class="footer3" src="{DT_SKIN}image/mobile/publish.png" /></a>
        <a href="/mobile/member/index.php"><img class="footer4" src="{DT_SKIN}image/mobile/membercenter.png" /></a>
    </article>
</footer>