@charset "UTF-8";
/*右侧广告图*/
.ad{
    width: 880px;
}
.ad ul li{
    float:left;
    display: inline-block;
    margin:0 0 10px 10px;
    border: 1px solid #e2e2e2;
    position: relative;
}
.ad ul li a h2{
    position: absolute;
    bottom:0;
    background: rgba(0,0,0,.4);
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    width: 100%;
}
/*右侧广告图end*/
/*今日热门*/
.new-box{
    width: 298px;
    margin-right: 12px;
    overflow: hidden;
}
.new-box h2{
    font-size: 16px;
    color:#363636;
    padding:15px 0 0 15px;
    font-weight: bold;
}
.new-box p{
    line-height:1.6;
    overflow: hidden;
    font-size: 14px;
    height:42px;
    padding: 0 15px;
}
.new-box p strong,.new-head p a,.new-part li a p strong{
    font-weight: bold;
}
.new-wrap{
    width: 788px;
    overflow: hidden;
}
.new-wrap-main{
    width:508px;
    overflow: hidden;
}
.new-wrap-main .public-header{
    padding: 1px 0 20px;
}
 .public-header h2{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}
.new-wrap-main .public-header span{
    color:#acacac;
    font-size: 12px;
    line-height:25px;
}
.new-wrap-main .public-header .more{
    display: block;
    margin-top:7px;
    color: #363636;
    font-size: 12px;
}

.new-head{
    margin-top: 12px;
    background: #f5f4f2;
    padding:12px 12px 2px 12px;
}
.new-head h2{
    color: #ff580a;
    font-size: 16px;
    text-align: center;
}
.new-head p {
    line-height: 1.5;
    overflow: hidden;
    font-size: 14px;
    height: 40px;
}
.new-list{
    width: 100%;
    overflow: hidden;
    padding:6px 0;
}
.new-list ul{
    overflow: hidden;
    width:25%;
}
.new-list ul li {
    overflow: hidden;
    height:24px;
    line-height:24px;
}
.new-list ul li a:hover{
    color: #ea554f;
}
.new-list ul li span {
    float: left;
    width: 15px;
    text-align: center;
    color: #000;
}

.new-header h2{
    background: #ff580a;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 5px 15px;
    font-weight: normal;
}
.new-show{
    padding: 12px 0 6px;
    overflow: hidden;
    margin-top: -4px;
}
.new-show ul li{
    float: left;
    display: inline-block;
    margin-left: 12px;
}
.new-show ul li a h3{
    color: #ff580a;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
}
.new-wrap-list{
    width:260px;
    overflow: hidden;
}
.new-part li {
    float: left;
    display: inline-block;
    border-bottom: 1px dotted #e2e2e2;
    margin-top:12px;
    padding-bottom: 10px;
    overflow: hidden;
}
.new-part li a img {
    float: left;
    height:84px;
    width:110px;
    display: block;
    margin-right: 12px;
}
.new-part li a h3{
    width: 130px;
    float: left;
    line-height: 20px;
    color:#363636;
    font-weight:bold;
    font-size: 14px;
}
.new-part li a p{
    line-height: 1.5;
}
.new-list-box ul{
    width: 50%;
}
.cutline{
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-top: 1px dotted #e2e2e2;
    display: block;
    margin: 3px 0;
}
/*今日热门end*/

/*明厨展示*/
.show-box{
    width: 800px;
    padding-bottom: 15px;
    overflow: hidden;
}
.show-box ul li{
    margin: 15px 0 0 14px;
    float: left;
    display: inline-block;
    width: 182px;
    overflow: hidden;
    position: relative;
}
.show-box ul li h4{
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}
.show-box ul li  h3{
    background: rgba(0,0,0,.3);
    color: #fff;
    text-align: center;
    position: absolute;
    bottom:34px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    font-size: 12px;
}
.show-box ul li header button{
    background: #fd4c08;
    color: #fff;
    padding: 5px 8px;
    font-size: 12px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
}
.show-box ul li header i{
    font-size: 12px;
    color: #fd4c08;
    text-align: center;
    padding-left: 30px;
}
/*明厨展示end*/

/*在线分享*/
.share-head a{
    margin-left:15px;
}
.share-head a:hover{
    color: #ea554f;
}
.share-box{
    width: 384px;
    overflow: hidden;
    padding: 20px 20px 10px 20px;
}
.share-box h2 {
    font-size:22px;
    color: #9f8e00;
    padding-top: 15px;
}
.share-box p {
    line-height: 1.6;
    overflow: hidden;
    font-size: 14px;
    height: 42px;
}
.share-item a{
    color: #989898;
    height:24px;
    line-height: 24px;
}
.share-item i{
    background: url("../image/index/icon-share1.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    right: 5px;
}
.share-show{
    width:666px;
    overflow: hidden;
}
.share-show ul li{
    height:190px;
    width:184px;
    border: 1px solid #fff;
    padding:10px;
    margin: 10px 8px 0 5px;
    float: left;
    display: inline-block;
}
.share-show ul li:hover{
    border: 1px solid #9f8e00;
}
.share-show ul li h4{
    font-size: 14px;
    padding: 5px 0;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
/*在线分享end*/
/*作者*/
.person-show{
    width:840px;
    overflow: hidden;
}
.person-show ul li{
    width:98px;
    border: 1px solid #e2e2e2;
    padding:15px 15px 0;
    margin-right:10px;
    float: left;
    display: inline-block;
}
.person-show ul li img{
    border-radius:50%;
    width: 78px;
    height: 78px;
    display: block;
    margin:auto;
}
.person-show ul li h4{
    padding-top:6px;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
}
.person-show ul li p{
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius:25px;
    width: 100px;
    height:26px;
    font-size: 12px;
    text-align: center;
    line-height:26px;
    color: #989898;
}
.qr-show{
    overflow: hidden;
    width: 256px;
}
.qr-show ul{
    padding-left: 8px;
}
.qr-show ul li{
    display: inline-block;
    float: left;
    margin: 15px 8px 15px 7px;
}
.qr-show ul li h4{
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #989898;
}
/*作者end*/