@charset "UTF-8";

/*start : 2015.9.18 DomenLee*/

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:华文细黑;
}

*:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none
}

/* clear iphone button style : 2015.9.21 DomenLee */

input {

    -webkit-appearance: none;

}

textarea {
    -webkit-appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body, input, textarea {
    font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Lucida, Verdana, Arial, Helvetica, sans-serif;
}
body {
    font-size:62.5%;
    background-color:#f5f5f5;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET END */

/* 自定义样式 */
.clear {
    zoom: 1;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

.Validform_checktip{
    margin-left:8px;
    line-height:20px;
    height:20px;
    overflow:hidden;
    color:#999;
    font-size:12px;
}
.Validform_right{
    color:#71b83d;
    padding-left:20px;
    background:url(../image/right.png) no-repeat left center;
}
.Validform_wrong{
    color:red;
    padding-left:20px;
    white-space:nowrap;
    background:url(../image/error.png) no-repeat left center;
}
.Validform_loading{
    padding-left:20px;
    background:url(../image/onLoad.gif) no-repeat left center;
}
.Validform_error{
    background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}
#Validform_msg * {display:none;}

#Dtop {
    background-color: #fff;
    border: 1px solid #125adc;
    box-shadow: 0 0 3px #0e48b0;
    padding: 10px;
}

#Dtop .dhead {
    background-color: #ccc;
}
#Dtop tr {height:30px;}
#remote {max-width:100%;width:100%;}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: #666;
}

.tras-all {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
i {font-style:normal;}

/*end*/

/* 首页 */
#index-page {
    height:85px;
    background-color:#e9544e;
    padding-top:30px;
    color:#fff;
    position:relative;
}
#upthumb {width:200px;height:35px;opacity:0;}
#index-page .area {
    color:#fff;
    font-size:1.8em;
    padding-left:10px;
    position:relative;
    z-index:2;
}
#index-page .area i {margin-left:5px;}
#index-page h2 {
    font-size:2.2em;
    font-weight: normal;
    text-align: center;
    width:100%;
    position:absolute;
}
#index-page h2 img {vertical-align:middle;margin-right:5px;}
#index-page .user {padding-right:10px;text-align:right;position:relative;z-index:2;}
#index-page .user a {color:#fff;font-size:1.8em;}
#index-page .user span {font-size:18px;}
#index {background-color:#f5f5f5;}
#index .module {margin-bottom:20px;background-color:#fff;}
#index .module li{
    width:25%;
    float:left;
    text-align:center;
    display:block;
}
#index .module a{
    color:#000;
    padding-bottom:20px;
    display:block;
}
#index .module a img{
    max-width:93px;
    width:51.66666%;
    height:auto;
}
#index .module a p {margin-top:20px;margin-bottom:5px;}
#index .module a span {font-size:1.6em;}

#index .article {padding:20px;margin-top:20px;background-color:#fff;}
#index .article .articleimgleft {
    width:50%;
    padding-right:10px;
}
#index .article .articleimgright {
    width:50%;
    padding-left:10px;
    display:block;
}
#index .article .articleimgleft img,#index .article .articleimgright img{
    width:100%;
    display:block;
    height:auto;
    line-height:2.2em;
}
#index .article .articlelist {
    margin-top:10px;
}
#index .article .articlelist article {
    padding-right:20px;
    overflow:hidden;
    height:2.2em;
}
#index .article .articlelist a {
    font-size:1.6em;
    line-height:1.6em;
}
#index .article .articlelist span {
    width:50px;
    font-size:1.6em;
    height:2.2em;
    color:#a4a4a4;
}
.more {text-align:right;margin-right:10px;font-size:1.6em;color:#a4a4a4;}
.more i {font-size:1.6em;}

#index .hotchannel {
    margin-top:20px;
    background-color:#fff;
}
.channelheader a{
    color:#bdbdbd;
    font-size:2em;
}
.channelheader img {
    vertical-align:top;
    margin-right:10px;
    margin-left:5px;
    width:20px;
    height:auto;
}
.channelheader {
    padding:20px 20px;
}
.channelheader span{
    font-size:2em;
}
#index .hotchannel ul li{
    float:left;
    width:25%;
    margin-bottom:5px;
}
#index .hotchannel ul li a {
    display:block;
    font-size:0px;
}
#index .hotchannel ul li img {
    width:100%;
    height:auto;
}
#index .foodpromote {
    margin-top:20px;
    background-color:#fff;
}
#index .foodpromote .foodpromoteul{
    border-top:1px solid #d1d1d1;
    padding:20px 20px;
}
#index .foodpromote .foodleft {
    width:50%;
    padding-right:10px;
}
#index .foodpromote .foodleft a,#index .foodpromote .foodright a {
    font-size:0px;
}
#index .foodpromote .foodright {
     width:50%;
    padding-left:10px;
 }
#index .foodpromote .foodpromoteul img{
    width:100%;
    height:auto;
}
#index .foodpromote .foodpromoteul .foodright a.first {
    margin-bottom:10px;
    display:block;
}
#index .foodpromote .foodpromoteul .foodright a.last {
    margin-top:10px;
    display:block;
}
#index .schoolchannel {
    margin-top:20px;
    background-color:#fff;
}
#index  .schoolchannelul li{
    border-top:1px solid #d1d1d1;
    padding:20px 20px 10px 20px;
}
#index  .schoolchannelul li .schoola {
    width: 120px;
    display:block;
    float:left;
    font-size: 0px;
}
#index  .schoolchannelul li .schoolthumb {
    width: 100%;
    height: auto;
}
#index  .schoolchannelul li .schoolcontent {
    padding-left: 130px;
}
#index  .schoolchannelul li .schoolcontent  .title{
    font-size:1.6em;
    color:#000;
    height:1.6em;
    line-height:1.6em;
    overflow:hidden;
    display:block;
}
#index  .schoolchannelul li .schoolcontent .introduce {
    font-size:1.4em;
    color:#989898;
    height:4.2em;
    overflow: hidden;
    margin:5px 0px;
    line-height:1.4em;
}
#index  .schoolchannelul li .schoolcontent .handle img{
    vertical-align:middle;
    margin-right:10px;
    max-width:167px;
    width:32.4271%;
    min-width:100px;
}
#index  .schoolchannelul li .schoolcontent .handle{
    font-size:1.2em;
}
#index  .schoolchannelul li .schoolcontent .foodhandle{
    font-size:1.4em;
}

#index  .schoolchannelul li .schoolcontent i {
    font-size:1.2em;
    color:#ff8125;
}
.ids {
    width:100%;
    display:block;
    font-size:0px;
}
.ids img {
    width:100%;

    height:auto;
}
#index .foodchannel {
    background-color:#fff;
    margin-top:20px;
}
#footer .footerbutton {
    border-top:1px solid #d1d1d1;
    padding:30px 0px 10px 0px;
}
#footer .footerbutton span {
    width:50%;
}
#footer .footerbutton .fl img,#footer .footerbutton .fr img  {
    max-width:150px;
    width:70%;
    height:auto;
}
#footer .footerbutton .fl{
    text-align:right;
    padding-right:20px;
}
#footer .footerbutton .fr{
    text-align:left;
    padding-left:20px;
}
#footer .footerinfo {
    background-color:#f5f5f5;
    text-align:center;
}
#footer .footerinfo p{
    font-size:1.6em;
}
#footer .footerinfo i{
    padding:0px 5px;
}
#footer .footer {
    padding:10px 0px;
    background-color:#fff;
    text-align:center;
}
#footer .footer a {
    width:25%;
    display:block;
    float:left;
}
#footer .footer a .footer1,#footer .footer a .footer3,#footer .footer a .footer2{
    max-width:48px;
    width:36.66%;
}
#footer .footer a .footer4{
    max-width:99px;
    width:75%;
}
#header1 {
    background-color:#fff;
    height:76px;
    vertical-align:middle;
    padding:20px;
}
#header1 .forback{
    font-size:2.4em;
    color:#000;
    float:left;
}
#header1 .forback img {
    vertical-align:middle;
    margin-right:10px;
    width:15px;
    height:auto;
}
#header1 .headersearch{
     text-align:right;
 }
#header1 .headersearch .span1{
    margin-right:40px;
}
#header1 .headersearch img {
    width:26px;
    height:auto;
}
#header1 .searchkey{
    border:1px solid #fff;
    border-radius:8px;
    width:40%;
    height:26px;
    line-height:26px;
    background-color:#f5f5f5;
    vertical-align:top;
    text-indent: 1em;
}

/* 分类 */
.line {
    height:20px;
    display:block;
    background-color:#f5f5f5;
    border-bottom:1px solid #e6e6e6;
    border-top:1px solid #e6e6e6;
}
#categoryselect {
    background-color:#fff;
}
#categoryselect table {
    width:100%;
}
#categoryselect tr td {
    width:25%;
    line-height:3em;
    font-size:1.6em;
    border:1px solid #e6e6e6;
    text-align:center;
}
#categoryselect tr td a{
    display:block;
    color:#6d6d6d;
}
#areaselect {

    display:block;
    background-color:#fff;
    border-top:1px solid #e6e6e6;
}

#areaselect span{
    float:left;
    width:25%;
    display:block;
    text-align:center;
    border-right:1px solid #f1f1f1;
    height:2em;
    margin-top:2px;
    margin-bottom:2px;
    line-height:2em;
    font-size:2em;
    color:#6d6d6d;
    position:relative;
}
#areaselect span select {
    width:100%;
    position:absolute;
    font-size:1em;
    top:0px;
    left:0px;
    text-align:center;
    display:block;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    height:2em;
    background-color:#fff;
    color:#6d6d6d;

}

#areaselect span a {
    width:100%;
    text-align:center;
    display:block;
    color:#e9544e;
    line-height:2em;
    height:2em;
}

.list .content{

    margin-top:20px;
    background:#fff;
}
.list .content:first-child{
    margin-top:0px;
}
.list .content .info {
    padding:20px;
    border-bottom:1px solid #e6e6e6;
    border-top:1px solid #e6e6e6;
}
.list .content .info .thumb {
    float:left;
    width:120px;
    display:block;
    font-size:0px;
}
.list .content .info .thumb img{
    width:100%;
    height:auto;
}
.list .content .info .text{
    padding-left:130px;
}
.list .content .info .text .title {
    font-size: 1.8em;
    color: #000;
    height: 1.8em;
    line-height: 1.8em;
    overflow: hidden;
    display: block;
}
.list .content .info .text .introduce {
    font-size: 1.6em;
    color: #989898;
    height: 2.8em;
    overflow: hidden;
    margin: 5px 0px;
    line-height:1.6em;
}
.list .content .price1 {
    font-size: 1.4em;
    color: #ff8125;
}
.list .content .handle {
    color:#989898;
    font-size:1.8em;
    padding:10px 20px 20px 20px;
    border-bottom:1px solid #e1e1e1;
}
.list .content .handle {
    padding-top:20px;
}
.list .content .handle img {
    vertical-align:middle;
    margin-right:5px;
    width:1em;
    height:auto;
}
.list .content .handle .handle1 {
    margin-right:10px;

}
.list .content .showpng {
    width:25%;
    max-width:159px;
    font-size:0px;
    display:block;
}
.fdsfsdf {
    float:right;
}
.list .content .bigvote {
    width:70%;
    max-width:181px;
    font-size:0px;
    margin-right:10px;
    vertical-align: middle;
}

.list .content .showpng img {
    width:100%;
}
.hasbutton span{padding-top:10px;}
.readmore a{
    text-align:center;
    padding:20px 0px;
    display:block;
    font-size:1.6em;
}
/* 内容 */
#content .thumbinfo {
    width:100%;
    position:relative;
}
#content .thumbinfo img {
    width:100%;
    height:auto;
    min-height:7em;
}
#content .thumbinfo .apla {
    position:absolute;
    bottom:0px;
    background-color:#000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
    padding-top:10px;
}
#content .thumbinfo .apla span{
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
}
#content .thumbinfo .aplainfo {
    position:absolute;
    bottom:0em;
    margin:0px;
    padding-bottom:10px;
    width:100%;
}

#content .thumbinfo .title {
    font-size:2em;
    padding:0 20px;
    color:#fff;
    width:100%;
    display:block;
}
#content .thumbinfo .introduce {
    font-size:1.6em;
    color:#fff;
    line-height:1.2em;
    height:1.2em;
    overflow:hidden;
    padding:0 20px;
    width:100%;
    display:block;
}
.de0000{
    color:#de0000;
}
#content .info {
    font-size:2em;
    font-weight: bold;
    padding:0px 20px;
    line-height:2.4em;
    background-color:#fff;
}
#content .handle {
    position:relative;
    padding:20px;
    font-size:2em;
    background-color:#fff;
}
#content .handle .center{
    position:absolute;
    width:100%;
    left:0px;
    text-align:center;
}
#content .handle img {
    vertical-align:middle;margin-right:5px;
    width:20px;
    height:auto;
}
#content .shop {
    background-color:#fff;
}
#content .header{
    font-size:2.4em;
    color:#939393;
    padding:20px;
    border-bottom:1px solid #e6e6e6;
}
#content .shopinfo{
    color:#939393;
    padding:20px 20px 10px 20px;
}

#content .shopinfo .shopndl {
    padding-right:64px;
}
#content .shopinfo .shopndl span {
    display:block;
    padding-right:10px;
}
#content .shopinfo .shopndl .ndl{
    font-size:2em;
    color:#000;
}
#content .shopinfo .shopndl .fasdf{
    font-size:1.8em;
    color:#939393;
    margin-top:10px;
}

#content .shopinfo .phone {
    margin:20px 0px;
    padding:0em 0px 0em 20px;
    display:block;
    height:auto;
    border-left:1px solid #e6e6e6;
    width:50px;
    height:auto;
}
#content .comment{
    background-color:#fff;
    padding:20px 0px 0px 0px;

}
#content .comment .buttonlist {
    text-align:center;
}
#content .comment .buttonlist span {
    width:33.3333%;
    display:block;
    float:left;
}
#content .comment .buttonlist span img{
    max-width:180px;
    width:85%;
    height:auto;
}
#content .comment_view {
    border-top:1px solid #e6e6e6;
    margin-top:20px;
    padding:20px;
    display:block;
    color:#ff8125;
    font-size:2em;

}
#content .comment_view img {
    vertical-align: middle;
    width:12px;
    height:auto;
}
#content .view {
    background-color:#fff;
}
#content .viewinfo {
    padding:20px;
    overflow:hidden;
    font-size:1.4em;
}
#content .viewinfo img {
    max-width:100%;
    height:auto;
}
.contentlist .channelheader{
    background-color:#fff;
}
#footer1 {
    padding:30px 0px;
    background-color:#fff;
    text-align:center;
}
#footer1 img {
    width:30%;
    max-width:120px;
    height:auto;
}
.schoolname {
    text-align:center;
    font-size:3.4em;
}
#categoryselect tr td a.active {
    background-color:#e9544e;
    color:#fff;
}
a img {font-size:0px;}
.commentlist {
    background-color:#fff;
}
.commentlist .comlist {
    border-top:1px solid #f1f1f1;
    padding:20px;
}
.commentlist .comlistp {
    height:60px;
    width:60px;
}
.commentlist .comimage {
    display:block;
    width:60px;
    height:60px;
}
.commentlist .cominfo {
    padding-left:70px;
    width:200px;
}
.commentlist .comname {
    font-size:2.5em;
    color:#000;

    margin:0px;
}
.commentlist .comtime {
    font-size:1.8em;
    margin:5px 0px 0px 0px;
    color:#989898;
}
.commentlist .commentcon {
    margin-top:15px;
    font-size:2.5em;
}





.publishform {padding:20px;}
#publishform .h3h {font-size:2em;color:#737373;margin-bottom:20px;}
#publishform .publishleft {color:#000;width:72px;font-size:1.6em;text-align:right;float:left;display:block;}
#publishform .publishright {padding-left:80px;width:100%;display:block;color:#000;font-size:1.6em;}
#publishform .publishtype {display:block;width:100%;}
#publishform .publishtype a{padding:3px 5px;background-color:#fff;border:1px solid #f1f1f1;float:left;margin-right:3px;margin-bottom:3px;}
#publishform .red {color:#f50000;}
#publishform .input-text {width:100%;line-height:2em;height:2em;border:1px solid #f1f1f1;border-radius: 3px;max-width:400px;}
#publishform .publishtype a.active {background-color:#f50000;color:#fff;}
#publishform .smallinput {width:100px;max-width:100%;}
#publishform .textinput {height:100px;}
#publishform p{margin:5px 0px 0px 0px;}
#publishform select {margin-bottom:5px;background-color:#fff;color:#000;}