{template  'header'}
<link rel="stylesheet" href="{DT_SKIN}css/food.css"/>
<section class="home">
    <header class="sites">
        <a>您现在的位置：</a><a href="/">首页</a>&nbsp;&gt;&nbsp;<a href="/school/index.php">名厨学堂</a>&nbsp;&gt;&nbsp;<a href="">{$aKnow['truename']}</a>
    </header>
</section>
<section class="home clearfix">
    <div class="person-info food-info border-box" style="position:relative;">
        <img src="{if $aKnow['thumb']}{$aKnow['thumb']}{else}{$DT['memberlogo']}{/if}" height="143" width="190" alt="">
        <h3>名厨嘉宾：{$aKnow['truename']} </h3>
        <p style="width:450px;height:60px;">简介：{dsubstr($aKnow['introduce'],60)}</p>
        <header>
            <i class="num" style="margin:0px;">票数：<i>{$aKnow['infonums']}</i></i>
        </header>
        <div class="bdsharebuttonbox">
            <a href="#" class="bds_more" data-cmd="more"></a>
            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
        </div>
        <style>
.dfn img {width:380px;height:170px;}
        </style>
        <div class="dfn" style="position:absolute;right:10px;width:380px;height:170px;top:10px;">{ad(104)}</div>
    </div>

    <ul class="show-foods">
        {if $aCai}
            {loop $aCai $k $v}
                <li>

                        <img src="{$v['thumb']}" width="260" height="196" alt=""/>
                        <div class="show-food-del">
                            <a href="/school/food.php?id={$v['itemid']}">
                                <h3 title="{$v['title']}">{dsubstr($v['title'],26)}</h3>
                                <p>{dsubstr($v['introduce'],150,'...')}</p>
                            </a>
                            <header>
                                <button onclick="vote({$v['itemid']},2,this)">投票</button>
                                <i class="num">票数：<i>{$v['votes']}</i></i>
                                <a class="fr"><i class="icon-share1" style="filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity: 0; opacity: 0;"></i>评论( {$v['comments']} )&nbsp;&nbsp;&nbsp;浏览( {$v['hits']} )</a>
                            </header>
                        </div>

                </li>
            {/loop}
        {/if}
    </ul>
    {if $aCai}
    <!--分页功能-->
    <div class="page-box">
        <ul class="pager"></ul>
    </div>
    <!--分页功能end-->
    {/if}
</section>
<section class="home clearfix">
    <section class="food-del fl">
        {template  'comment'}
    </section>
    {template  'right'}
</section>
<section class="foodad">{ad(41)}</section>
<script src="{DT_SKIN}js/pager.js"></script>
<script>
    pager({$page},{$totalpage},'pager');
    $(".pager li").click(function(){
        var pagenum = $(this).attr('pagenum');
        if(typeof(pagenum)!='undefined'){
            location.href = '/school/show.php?id={$id}&page='+pagenum;
        }
    })
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
{template  'footer'}

